<div class="container-fluid  my-5 p-5">
    <div class="gal">
        <a href="assets/img/img1.jpg"><img src="assets/img/img1.jpg" alt=""></a>
        <a href="assets/img/img2.jpg"><img src="assets/img/img2.jpg" alt=""></a>
        <a href="assets/img/img3.jpg"><img src="assets/img/img3.jpg" alt=""></a>
        <a href="assets/img/img4.jpg"><img src="assets/img/img4.jpg" alt=""></a>
        <a href="assets/img/img5.jpg"><img src="assets/img/img5.jpg" alt=""></a>
        <a href="assets/img/img2.jpg"><img src="assets/img/img2.jpg" alt=""></a>
        <a href="assets/img/img6.jpg"><img src="assets/img/img6.jpg" alt=""></a>
        <a href="assets/img/img2.jpg"><img src="assets/img/img2.jpg" alt=""></a>
        <a href="assets/img/img2.jpg"><img src="assets/img/img2.jpg" alt=""></a>
    </div>
</div>