<!-- <div class="container-fluid  my-5 p-5">
    <div class="">
        <div class="work">
            <div class="work__gallery">
                <div class="work__item small__item">
                    <a target="_blank" href="https://www.youtube.com/watch?v=JtZ2yMPMVKI" target="_blank"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                </div>
                <div class="work__item small__item">
                    <a href="https://www.youtube.com/watch?v=OE1LuPk2qPg" target="_blank"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                </div>
                <div class="work__item small__item">
                    <a href="https://www.youtube.com/watch?v=OE1LuPk2qPg" target="_blank"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                </div>
                <div class="work__item small__item">
                    <a href="https://www.youtube.com/watch?v=OE1LuPk2qPg" target="_blank"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                </div>
                <div class="work__item small__item">
                    <a href="https://www.youtube.com/watch?v=OE1LuPk2qPg" target="_blank"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                </div>
                <div class="work__item small__item">
                    <a href="https://www.youtube.com/watch?v=OE1LuPk2qPg" target="_blank"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                </div>
                <div class="work__item small__item">
                    <a href="https://www.youtube.com/watch?v=OE1LuPk2qPg" target="_blank"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                </div>
                <div class="work__item small__item">
                    <a href="https://www.youtube.com/watch?v=OE1LuPk2qPg" target="_blank"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid  my-5 p-5">
    <div class="work">
        <div class="work__gallery">
            <div class="work__item small__item">
                <a target="_blank" href="https://www.youtube.com/watch?v=JtZ2yMPMVKI" target="_blank"
                    class="play-btn video-popup"><i class="fa fa-play"></i></a>

            </div>
            <div class="work__item small__item">
                <a target="_blank" href="https://www.youtube.com/watch?v=JtZ2yMPMVKI" target="_blank"
                    class="play-btn video-popup"><i class="fa fa-play"></i></a>

            </div>
            <div class="work__item small__item">
                <a target="_blank" href="https://www.youtube.com/watch?v=JtZ2yMPMVKI" target="_blank"
                    class="play-btn video-popup"><i class="fa fa-play"></i></a>

            </div>
        </div>
    </div>
</div> -->